## Built-in Data Types

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

__Writing Comments in Python - https://realpython.com/python-comments-guide/__

__Python Keywords - https://www.w3schools.com/python/python_ref_keywords.asp__

__Built-in Functions - https://docs.python.org/3/library/functions.html__

__Math Functions - https://www.programiz.com/python-programming/modules/math__

***

### Strings

In [1]:
# Strings in python are surrounded by either single quotation marks, or double quotation marks.
# 'hello' is the same as "hello".

a = "Hello"

# You can assign a multiline string to a variable by using three quotes:

b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)
print(b)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [2]:
# concatenation
str1 = 'Hala '
str2 ='Madrid !!!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hala Madrid !!!
str1 * 3 = Hala Hala Hala

In [3]:
# Strings in Python are arrays of bytes representing unicode characters.
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

a = "Hala Madrid!"
print(a[6])
print(a[-1])


for x in "Python":
    print(x, end = "-")
    
    

print()
count = 0
for letter in 'Welcome to Python programming':
    count += 1 
    #count = count + 1
    
print(count,'letters found')

a
!
P-y-t-h-o-n-
29 letters found

In [4]:
## Slicing - [Start : Stop : Step]
# Specify the start index and the end index, separated by a colon, to return a part of the string.

a = "Hello Aliens!"
print(a[6:12])

b="343434343434"
print(b[::2])
print(b[1::2])

# Use negative indexes to start the slice from the end of the string.

a = "Hello Aliens!"
print(a[::-1])
print(a[::-1])

Aliens
333333
444444
!sneilA olleH
!sneilA olleH

##### Note: Strings are immutable -  doesn't support item assigment.

In [5]:
# To check if a certain phrase or character is present in a string, we can use the keyword 'in' in an if statement,
# if NOT present in a string, we can use the keyword not in.

txt = "This is about built in functions in strings"
print("built" in txt)
print("builtin" in txt)
print("builtin" not in txt)

True
False
True

#### String Methods()
Python has a set of built-in methods that you can use on strings.

In [6]:
a = "Hala Madrid!!"

In [7]:
a.capitalize() #Converts the first character to upper case

'Hala madrid!!'

In [8]:
a.casefold() #Converts string into lower case

'hala madrid!!'

In [9]:
a.count('a') #Returns the number of times a specified value occurs in a string

3

In [10]:
a.encode()

b'Hala Madrid!!'

In [11]:
a.endswith('rid!') #Returns true if the string ends with the specified value

False

In [12]:
a.find('a') #Searches the string for a specified value and returns the position of where it was found first.

1

In [13]:
a.rfind('a') #Searches the string for a specified value and returns the last position of where it was found

6

In [14]:
print(a.index('a')) #Searches the string for a specified value and returns the position of where it was found first.

print(a.index('a',4,9))

1
6

In [15]:
a.rindex('a') #Searches the string for a specified value and returns the last position of where it was found.

6

In [16]:
### Both index and find is similar, if a character is not found 'find' returns -1 whereas "index" throws error
print(a.find('w'))
#print(a.index('w'))

-1

In [17]:
print(a.isalpha()) #Returns True if all characters in the string are in the alphabet (a-z, A-Z).
print("ALPHA".isalpha())
print("alpha".isalpha())
print("a l p h a".isalpha())

False
True
True
False

In [18]:
print(a.isdecimal()) #Returns True if all characters in the string are decimals (0-9), unicode objects..
print("12340".isdecimal())
print("\u0033".isdecimal())

False
True
True

In [19]:
print("12340".isnumeric()) #Returns True if all the characters are numeric (0-9), otherwise False.
print("\u0033".isnumeric())

True
True

In [20]:
a.islower()

False

In [21]:
a.isupper()

False

In [22]:
a.title() #	Converts the first character of each word to upper case.

'Hala Madrid!!'

In [23]:
a.upper()

'HALA MADRID!!'

In [24]:
a.split() #Splits the string at the specified separator, and returns a list.

['Hala', 'Madrid!!']

In [25]:
a.split("a")

['H', 'l', ' M', 'drid!!']

In [26]:
txt = "apple, banana, cherry"
txt.split(", ",)

['apple', 'banana', 'cherry']

In [27]:
"    hello    hello   ".lstrip()

'hello    hello   '

In [28]:
"    hello    hello   ".rstrip()

'    hello    hello'

In [29]:
"Bat".replace('B','C') #Returns a string where a specified value is replaced with a specified value

'Cat'

In [30]:
"pYtHoN PrOgRaMmInG".swapcase()

'PyThOn pRoGrAmMiNg'

#### f-string (formatted string literals)

In [31]:
a = "formatted"
b = 'python'
c = 3.8
print(f"This is a {a} string in '{b}' version --> {c}")

This is a formatted string in 'python' version --> 3.8

In [32]:
result = 100/7
print(f"{result:0.3f}") # {value:width.precision f}
print(f"{result:12.6f}") # width just adds the whitespace to makeup the width.
print(f"{result:012.6f}") # width for float numbers filled with zeros

14.286
   14.285714
00014.285714

In [33]:
# string padding with left alignment
print(f"This is an example of {'padding':11} in python")

# string padding with right alignment
print(f"This is an example of {'padding':>11} in python")

# string padding with center alignment
print(f"This is an example of {'padding':^11} in python")

# string padding with center alignment and with '-' as padding character
print(f"This is an example of {'padding':-^11} in python")

This is an example of padding     in python
This is an example of     padding in python
This is an example of   padding   in python
This is an example of --padding-- in python

##### Note: Python uses 'Dynamic Typing' - we can reassign any variable to different data type.

In [34]:
a = "String"
print(a)
a = 1234
print(a)
a = 1.2
print(a)

String
1234
1.2

__String Methods - https://www.w3schools.com/python/python_ref_string.asp__

***

## Lists

* Lists are used to store multiple items in a single variable.
* List items are ordered(items have a defined order, and that order will not change).
* Lists can have duplicates items. 
* We can change, add, and remove items in a list after it has been created.
* If you add new items to a list, the new items will be placed at the end of the list.

In [35]:
# Lists are created using square brackets.
["apple", 100, "grapes"]

['apple', 100, 'grapes']

In [36]:
# It can also be created using list() constructor.
list(("apple", 12.5, "grapes"))

['apple', 12.5, 'grapes']

In [37]:
a = ['apple', 'mango', 100, 1.25, 'Batman', 'NYC']
print(type(a))

<class 'list'>

In [38]:
## change/replace

a[1] = "replaced"
a

['apple', 'replaced', 100, 1.25, 'Batman', 'NYC']

In [39]:
len(a)

6

In [40]:
## iterate through

for item in a:
    print(f"{item} --> {type(item)}")

apple --> <class 'str'>
replaced --> <class 'str'>
100 --> <class 'int'>
1.25 --> <class 'float'>
Batman --> <class 'str'>
NYC --> <class 'str'>

In [41]:
#Since a list is an ordered sequence of elements, we can use indexing and slicing.

## accessing a list
print(a[0])

## -ve indexing
print(a[-1])

### slice lists 
# elements beginning to 4th
print(a[:4])

## elements 2nd to end
print(a[2:])

## elements beginning to end
print(a[:])

apple
NYC
['apple', 'replaced', 100, 1.25]
[100, 1.25, 'Batman', 'NYC']
['apple', 'replaced', 100, 1.25, 'Batman', 'NYC']

In [42]:
## concatenation of list

list1 = ["one","two","three"]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

['one', 'two', 'three', 4, 5, 6]

__List Methods - https://www.w3schools.com/python/python_ref_list.asp__

#### List Methods()

In [43]:
l = ["one","two","three","four","five","six"]

In [44]:
l.append("seven") #Adds an element at the end of the list
l
l.append(["eight","nine"])
l

['one', 'two', 'three', 'four', 'five', 'six', 'seven', ['eight', 'nine']]

In [45]:
l.pop(-1) #Removes the element at the specified position,  default value is -1, which returns the last item.
l

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [46]:
l.index("three") #Returns the position at the first occurrence of the specified value.

2

In [47]:
l.pop()

'seven'

In [48]:
l

['one', 'two', 'three', 'four', 'five', 'six']

In [49]:
l.reverse() # Reverses the order of the list.
print(l)
l.reverse()
print(l)

['six', 'five', 'four', 'three', 'two', 'one']
['one', 'two', 'three', 'four', 'five', 'six']

In [50]:
l.insert(1, 2) #Adds an element at the specified position
l

['one', 2, 'two', 'three', 'four', 'five', 'six']

In [51]:
l.remove(2) #Removes the first occurrence of the element with the specified value.
l

['one', 'two', 'three', 'four', 'five', 'six']

In [52]:
l.extend([7,8,9,10]) #Add the elements of a list (or any iterable), to the end of the current list.
l

['one', 'two', 'three', 'four', 'five', 'six', 7, 8, 9, 10]

In [53]:
l.append(10)
l.append(10)
print(l)
l.count(10) #Returns the number of elements with the specified value.

['one', 'two', 'three', 'four', 'five', 'six', 7, 8, 9, 10, 10, 10]

3

In [54]:
l.remove(10)
l.remove(10)
l

['one', 'two', 'three', 'four', 'five', 'six', 7, 8, 9, 10]

In [55]:
l = l[:6]
l

['one', 'two', 'three', 'four', 'five', 'six']

In [56]:
l.sort() #Sort the list alphabetically, ascending by default.
l

['five', 'four', 'one', 'six', 'three', 'two']

#### Built-in Functions with List

In [57]:
a = [1, 2, 3, 4, 5,6,7,8,9,10]

In [58]:
sum(a) #Return the sum of all elements in the list.

55

In [59]:
sorted(a, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
max(a)

10

In [61]:
min(a)

1

In [62]:
for i,j in enumerate(a):
    print(f"Index: {i}, Value : {j}")

Index: 0, Value : 1
Index: 1, Value : 2
Index: 2, Value : 3
Index: 3, Value : 4
Index: 4, Value : 5
Index: 5, Value : 6
Index: 6, Value : 7
Index: 7, Value : 8
Index: 8, Value : 9
Index: 9, Value : 10

#### List comprehension

- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [63]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for fruit in fruits:
    if "a" in fruit:
        newlist.append(fruit)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code!

In [64]:
# fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if "a" in fruit]

print(newlist)

['apple', 'banana', 'mango']

In [65]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
[x for x in "string"]

['s', 't', 'r', 'i', 'n', 'g']

In [67]:
# if-else in list comprehension

l1 = [1,2,3,4,5,6,7,8,9,10]

l2 = ['even' if x%2==0 else x for x in l1]

l2

[1, 'even', 3, 'even', 5, 'even', 7, 'even', 9, 'even']

In [68]:
# if-elif-else in list comprehension

l1 = [1,1,2,2,3,3]

l2 = ['one' if x==1 else 'two' if x == 2 else 'three' for x in l1 ]

l2

['one', 'one', 'two', 'two', 'three', 'three']

In [69]:
# nested for loops using list comprehension
    
l1 = [1,2]
l2 = [3,4,5]

l3 = [(i,j) for i in l1 for j in l2]
l3

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5)]

In [70]:
[(i*j) for i in l1 for j in l2]

[3, 4, 5, 6, 8, 10]

***

## Dictionary

* Dictionaries are used to store data values in __KEY: VALUE__ pairs.
* A dictionary is a collection which is ordered and changeable.
* Dictionaries cannot have two items with the same key.
* The values in dictionary items can be of any data type.

In [71]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'banana'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'David', 1:'id', 'marks': [10,20,30]}
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([('name','David'), (2,'ball'), ('marks', [10,20,30])])
print(my_dict)

{}
{1: 'apple', 2: 'banana'}
{'name': 'David', 1: 'id', 'marks': [10, 20, 30]}
{'name': 'David', 2: 'ball', 'marks': [10, 20, 30]}

In [72]:
my_dict.keys()

dict_keys(['name', 2, 'marks'])

In [73]:
# Values are accessed by keys and key can be accessed either inside square brackets or with the get() method.


my_dict = {'name':'Flash', 'age': 27, 'power':'speed', 'universe': 'DC'}


print(my_dict['name'])

print(my_dict.get('universe'))

Flash
DC

In [74]:
# update value
my_dict['age'] = 30
print(my_dict)

{'name': 'Flash', 'age': 30, 'power': 'speed', 'universe': 'DC'}

In [75]:
# add item
my_dict['nick_name'] = 'Barry Allen'
print(my_dict)

{'name': 'Flash', 'age': 30, 'power': 'speed', 'universe': 'DC', 'nick_name': 'Barry Allen'}

In [76]:
# Duplicates Not Allowed - it will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [77]:
print(len(my_dict))
print(len(thisdict))

5
3

In [78]:
# When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

#key
for i in my_dict:
    print(i)
    
print("-------")
    
#value
for i in my_dict:
    print(my_dict[i])
    
print("-------")

#key
for i in my_dict.keys():
    print(i)
    
print("-------")

#value
for i in my_dict.values():
    print(i)
    
print("-------")
    
#key & value
for i,j in my_dict.items():
    print(i,j)

name
age
power
universe
nick_name
-------
Flash
30
speed
DC
Barry Allen
-------
name
age
power
universe
nick_name
-------
Flash
30
speed
DC
Barry Allen
-------
name Flash
age 30
power speed
universe DC
nick_name Barry Allen

#### Dictionary Methods()

In [79]:
my_dict.keys() #Returns a view object, view object contains the keys of the dictionary, as a list.

dict_keys(['name', 'age', 'power', 'universe', 'nick_name'])

In [80]:
my_dict.values() #Returns a view object, view object contains the values of the dictionary, as a list.

dict_values(['Flash', 30, 'speed', 'DC', 'Barry Allen'])

In [81]:
my_dict.items() #Returns a view object, the view object contains the key-value pairs of the dictionary, as tuples in a list.

dict_items([('name', 'Flash'), ('age', 30), ('power', 'speed'), ('universe', 'DC'), ('nick_name', 'Barry Allen')])

In [82]:
my_dict.pop('nick_name','key not present') #Removes the specified item from the dictionary.
my_dict

{'name': 'Flash', 'age': 30, 'power': 'speed', 'universe': 'DC'}

In [83]:
my_dict.popitem() # Removes the item that was last inserted into the dictionary.
my_dict

{'name': 'Flash', 'age': 30, 'power': 'speed'}

In [84]:
my_dict.update({'universe': 'DC', 'nick_name': 'Barry Allen'}) #It inserts the specified items to the dictionary.
my_dict

{'name': 'Flash',
 'age': 30,
 'power': 'speed',
 'universe': 'DC',
 'nick_name': 'Barry Allen'}

In [85]:
x = ['key1', 'key2', 'key3','key3', 'key2']
y = 100


print(dict.fromkeys(x,y)) #Returns a dictionary with the specified keys and the specified value. Default value is None

print(dict.fromkeys(x))

{'key1': 100, 'key2': 100, 'key3': 100}
{'key1': None, 'key2': None, 'key3': None}

In [86]:
# nested dictionary
users = {'user1': {'name': 'John', 'age': '27', 'sex': 'Male'},'user2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(users['user1']['name'])
print(users['user1']['age'])
print(users['user2']['name'])

John
27
Marie

In [87]:
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 9}}, {'key': {'subkey': 4}},{'key': {'subkey': 7}}]

my_list.sort(key=lambda e: e['key']['subkey'], reverse=False)

print(my_list)

[{'key': {'subkey': 1}}, {'key': {'subkey': 4}}, {'key': {'subkey': 7}}, {'key': {'subkey': 9}}]

In [88]:
my_list

[{'key': {'subkey': 1}},
 {'key': {'subkey': 4}},
 {'key': {'subkey': 7}},
 {'key': {'subkey': 9}}]

In [89]:
d = {'key':['a','b','c']}
d['key'][2].upper()

'C'

In [90]:
## Reverse a dictionary

my_dict_rev = {y:x for x,y in my_dict.items()}
my_dict_rev

{'Flash': 'name',
 30: 'age',
 'speed': 'power',
 'DC': 'universe',
 'Barry Allen': 'nick_name'}

In [91]:
# The get() method returns the value of the item with the specified key.

# dictionary.get(keyname, value) -- value: value to return if the specified key is not found.

my_dict.get('name')

'Flash'

In [92]:
my_dict.get('height')

In [93]:
my_dict.get('height','not present')

'not present'

__Dictionary Methods -  https://www.w3schools.com/python/python_ref_dictionary.asp__

***

## Tuples

* Tuples are similar to lists except - __IMMUTABILITY__
* A tuple is a collection which is ordered and unchangeable.
* Tuples are written with round brackets.
* Once a value is inside a tuple, it can not be reassigned.

In [94]:
t = (1,2,2,2,3,4)
t

(1, 2, 2, 2, 3, 4)

In [95]:
t[0]

1

In [96]:
#t[0]=2

In [97]:
t.count(2)

3

In [98]:
t.index(3)

4

In [99]:
len(t)

6

In [100]:
t = (1,2,3,4,'one','tow','three')
t

(1, 2, 3, 4, 'one', 'tow', 'three')

In [101]:
# create a tuple without using round brackets

t = 1,2,3,4,'one','tow','three'
t

(1, 2, 3, 4, 'one', 'tow', 'three')

In [102]:
for i in t:
    print(i)

1
2
3
4
one
tow
three

__Tuple Methods - https://www.w3schools.com/python/python_ref_tuple.asp__

***

## Sets

* Sets are __unordered__ ( cannot be sure in which order the items will appear)  collection of unique elements.
* Sets are unchangeable, and do not allow duplicate values.

In [103]:
my_set = set()
my_set

set()

In [104]:
my_set.add(1)
my_set

{1}

In [105]:
my_set.add(2)
my_set

{1, 2}

In [106]:
# it won't repeat - unique values
my_set.add(2)
my_set

{1, 2}

In [107]:
l = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,5,6]
s = set(l)
s

{1, 2, 3, 4, 5, 6}

#### Sets Methods()

In [108]:
#Returns a set containing items that exist only in the first set, and not in both sets.

s1 = {1,2,3,4,5}

s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [109]:
# Returns a set that contains the similarity between two or more sets.
s1.intersection(s2)

{4, 5}

In [110]:
#Returns a set that contains all items from the original set, and all items from the specified set(s).
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [111]:
#Removes a random item from the set.

s1.pop()

1

In [112]:
s1

{2, 3, 4, 5}

In [113]:
#Removes the specified element from the set.
s1.remove(4)
s1

{2, 3, 5}

In [114]:
#Removes the specified element from the set.
s1.discard(4)

###### This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [115]:
set('parallel')

{'a', 'e', 'l', 'p', 'r'}

In [116]:
set('Mississippi')

{'M', 'i', 'p', 's'}

__Set Methods - https://www.w3schools.com/python/python_ref_set.asp__